# Base de datos
*.db

# Caché y compilados
__pycache__/
*.pyc

# Archivos de sistema
.DS_Store

# Archivos de VS Code
*.code-workspace

# .gitignore
.env

# Archivos webp si querés subirlos más adelante por partes (opcional)
# static/img/*.webp
